#* @vtlvariable name="ajaxPurpose" type="org.deblauwe.jira.plugin.databasevalues.ajax.AjaxViewResultsPurpose" *#
#* @vtlvariable name="baseurl" type="java.lang.String" *#
#* @vtlvariable name="valueId" type="java.lang.String" *#
#* @vtlvariable name="valueString" type="java.lang.String" *#
#* @vtlvariable name="renderingEditWidth" type="int" *#
#* @vtlvariable name="customFieldId" type="java.lang.String" *#
#disable_html_escaping()

#set( $hiddenInputFieldId = "databasevalues_hidden_$customFieldId" )
#if( $valueId )
    #set( $idString = $valueId)
#else
    #set( $idString = "")
#end
## TODO Remove class ui-autocomplete-input
<input id="databasevalues_$customFieldId" name="_$customFieldId"
       class="ui-autocomplete-input dbvp-ui-autocomplete-input"
       data-customfieldid="$customFieldId"
       data-projectkey="$projectKey"
       data-ajaxpurposename="$ajaxPurpose.name()"
       data-hiddeninputfieldid="$hiddenInputFieldId"
       size="$renderingEditWidth" type="text" value="$valueString"
       autocomplete="off"/>
##<div class="description">Start typing to get a list of possible matches.</div>
<input type="hidden" id="$hiddenInputFieldId" name="$customFieldId" value="$idString"/>
